@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

$Poppin-font: 'Poppins', sans-serif;
$darkgr-color: #015527;
$Leaf-color: #008023;
$darker-grey: #212121;
$lighter-grey: #303030;

body {
  font-family: $Poppin-font;
  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;
}

#wrapper {
  display: block;
  width: 100%;
}
h2,
h1 {
  color: white;
  width: 100%;
  margin-left: 10px;
}
p {
  color: $Leaf-color;
  font-size: 24px;
}

#mat-expansion-panel-header {
  background-color: white;
}

.header {
  background-color: $darker-grey;
}

.header-text {
  font-size: 27px;
  color: white;
}
button {
  color: black;
  background-color: black;
}
