<!DOCTYPE html>
<html>

<body>
  <div style="text-align:center">
    <h1>
      Welcome to the {{ title }} App!
    </h1>

  </div>
  <div id='wrapper'>
    <h2>Here are some links to help you start: </h2>
    <div id='list'>
      <mat-accordion>
        <mat-expansion-panel class="header">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a routerLink="/quiz" class="header-text" style=" text-decoration:none">Are You High?</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Are you sure? Take the quiz</p>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel class="header">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a routerLink="/gallery" class="header-text" style=" text-decoration:none">You Know You're High</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>WHOAA PICTURES</p>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel class="header">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a routerLink="/info" class="header-text" style=" text-decoration:none">Know Your High</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Get to know your friendly plants</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</body>

</html>