@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

$Poppin-font: 'Poppins', sans-serif;
$darkgr-color: #015527;
$Leaf-color: #008023;

body {
  font-family: $Poppin-font;
  display: grid;
  grid-template-columns: 1;
  justify-content: left;
}

#wrapper {
  display: block;
}
h2,
h1 {
  color: white;
  width: 100%;
  margin-left: 10px;
}
p {
  color: $darkgr-color;
  font-size: 24px;
}

#mat-expansion-panel-header-0 {
  background-color: white;
}

.header {
  background-color: white;
}

.header-text {
  font-size: 27px;
}
