@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$anim-text-offset: 1em;
$Poppin-font: 'Poppins', sans-serif;
$darkgr-color: #015527;
$Leaf-color: #008023;
$darker-grey: #212121;
$lighter-grey: #303030;

h1 {
  color: white;
  grid-column: 1;
  justify-self: center;
}
#container {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 1fr;
  justify-content: center;
}
#image {
  max-width: 100%;
  grid-column: 1;
}

#button {
  grid-column: 1;
  grid-row: 1 2;
  text-align: center;

  user-select: none;
  display: inline-block;
  border: 0.2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: $darker-grey;
  text-transform: uppercase;
  font-size: 25px;
  &__text {
    display: block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: $darker-grey;
    &:before {
      content: attr(title);
    }
    &--bis {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(-1 * $anim-text-offset);
      color: $darker-grey;
      opacity: 100%;
    }
  }
  &--mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
  }
}

#button:hover {
  opacity: 1;
  .button__text {
    animation: fx-text 0.3s ease-out;
    &--bis {
      animation: fx-text-bis 0.3s ease-out;
    }
  }
  .button__mask {
    animation: fx-mask 0.3s ease-out;
  }
}

#button:active {
  opacity: 1;
  background: white;
  color: inherit;
}

@keyframes fx-mask {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-text {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX($anim-text-offset);
    opacity: 0;
  }
}
@keyframes fx-text-bis {
  0% {
    transform: translateX(-1 * $anim-text-offset);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-text {
  //style as button
  color: white;
  justify-self: center;
}
