<div style="text-align:center">
  <h1> Let's get Educated!! </h1>
</div>
<div id='searchBox'>
  <input name="title" #searchTerm>
  <button (click)="searchAPI(searchTerm)">Search</button>
</div>

<h2>
  There are 3 types of Cannabis:
</h2>
<ul>
  <li>
    <h2>Indica</h2>
    <ul>
      <li>
        <h3>A High of the Body</h3>
      </li>
    </ul>
  </li>
  <li>
    <h2>Sativa</h2>
    <ul>
      <li>
        <h3>A High of the Mind</h3>
      </li>
    </ul>
    <li>
      <h2>Hybrid</h2>
      <ul>
        <li>
          <h3>A High of the Fucked</h3>
        </li>
      </ul>
    </li>
</ul>

<div class='card'>
  <ng-container *ngFor='let seedco of data.Object'>
    <h2> {{seedco.effect}}</h2>
    <!-- <img src='{{seedco.image}}'> -->
  </ng-container>
</div>

<br>
<br>
<h3>
  <a routerLink="">Let's Go Back</a>
</h3>