@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

$anim-text-offset: 1em;
$Poppin-font: 'Poppins', sans-serif;
$darkgr-color: #015527;
$Leaf-color: #008023;
$darker-grey: #212121;
$lighter-grey: #303030;

img {
  padding-top: 8px;
}

h1 {
  font-size: 25px;
  font-family: $Poppin-font;
}
#toolbar {
  background-color: $darker-grey;
}
