@import '~@angular/material/_theming';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-green, 900); // #1B5E20
$accent: mat-palette($mat-grey, 50);
$warn: mat-palette($mat-deep-orange, A700); //#DD2C00
$foreground: mat-palette($mat-grey, 50);
$background: mat-palette($mat-grey, 900); // #424242

$theme: mat-dark-theme($primary, $accent, $warn);

// Include all theme styles for the components.
@include angular-material-theme($theme);
