<p class="timeout">
  <strong>{{idleState}}</strong>
</p>
<!-- <button (click)="reset()" *ngIf="timedOut">Restart</button> -->
<div class="quiz">
  <h2 class="question">{{question.question}}</h2>
  <div class="image" *ngIf="question.image">
    <img src="{{question.image}}">
  </div>
  <mat-radio-group>
    <mat-radio-button color="warn" *ngFor="let answer of question.answers" [value]="answer" (change)="handleChange(answer.points)">
      {{answer.answer}}
    </mat-radio-button>
  </mat-radio-group>

  <br>
  <br>
  <button (click)="goBack()" mat-raised-button color="accent" *ngIf="question.questionId === 1">Go Back Homie</button>
  <button (click)="prevQuestion()" mat-raised-button color="accent" *ngIf="question.questionId !== 1">Previous Question</button>
  <button (click)="nextQuestion(); submitAnswer();" mat-raised-button color="accent" *ngIf="question.questionId < 10">Next Question</button>
  <button (click)="submitAnswer(); calculateResult();" mat-raised-button color="accent" *ngIf="question.questionId === 10">Calculate Results!</button>
</div>
